### Import the data via CSV files

In [139]:
import pandas as pd

# Replace 'your_file.csv' with the path to your CSV file
nfl_current = pd.read_csv('23_season.csv')
nfl_history = pd.read_csv('nfltil22.csv')

In [140]:
team_abb = ['crd', 'atl', 'rav', 'buf','car', 'chi',
            'cin', 'cle', 'dal', 'det', 'gnb', 'htx', 'clt', 'jax', 'kan', 'sdg',
            'ram', 'rai', 'mia', 'nwe', 'nor', 'nyg', 'nyj', 'phi', 'pit', 'sea', 'sfo', 'tam', 'oti', 'was']

In [141]:
pd.set_option('display.max_columns', None)

In [142]:
nfl_current.head()

,Season,Week,Team,Day,Date,Unnamed: 3,Unnamed: 4,OT,Unnamed: 6,Opp,Tm,Opp.1,Cmp,Att,Yds,TD,Int,Sk,Yds.1,Y/A,NY/A,Cmp%,Rate,Att.1,Yds.2,Y/A.1,TD.1,FGM,FGA,XPM,XPA,Pnt,Yds.3,3DConv,3DAtt,4DConv,4DAtt,ToP,Week.1,Day.1,Date.1,Unnamed: 3.1,Unnamed: 4.1,OT.1,Unnamed: 6.1,Opp.2,Tm.1,Opp.1.1,Cmp.1,Att.2,Yds.4,TD.2,Int.1,Sk.1,Yds.1.1,Y/A.2,NY/A.1,Cmp%.1,Rate.1,Att.1.1,Yds.2.1,Y/A.1.1,TD.1.1,FGM.1,FGA.1,XPM.1,XPA.1,Pnt.1,Yds.3.1,3DConv.1,3DAtt.1,4DConv.1,4DAtt.1,ToP.1
0,2023,1,CRD,Sun,September 10,boxscore,L,NaN,@,Washington Commanders,16.0,20.0,21.0,30.0,114.0,0.0,0.0,3.0,18.0,4.4,3.5,70.0,76.2,25.0,96.0,3.8,0.0,3.0,3.0,1.0,1.0,5.0,235.0,4.0,14.0,0.0,1.0,28:36,1,Sun,September 10,boxscore,L,NaN,@,Washington Commanders,16.0,20.0,21.0,30.0,114.0,0.0,0.0,3.0,18.0,4.4,3.5,70.0,76.2,25.0,96.0,3.8,0.0,3.0,3.0,1.0,1.0,5.0,235.0,4.0,14.0,0.0,1.0,28:36
1,2023,2,CRD,Sun,September 17,boxscore,L,NaN,NaN,New York Giants,28.0,31.0,21.0,31.0,228.0,1.0,0.0,0.0,0.0,7.4,7.4,67.7,99.9,29.0,151.0,5.2,2.0,2.0,3.0,2.0,2.0,3.0,146.0,4.0,10.0,0.0,0.0,30:37,2,Sun,September 17,boxscore,L,NaN,NaN,New York Giants,28.0,31.0,21.0,31.0,228.0,1.0,0.0,0.0,0.0,7.4,7.4,67.7,99.9,29.0,151.0,5.2,2.0,2.0,3.0,2.0,2.0,3.0,146.0,4.0,10.0,0.0,0.0,30:37
2,2023,3,CRD,Sun,September 24,boxscore,W,NaN,NaN,Dallas Cowboys,28.0,16.0,17.0,21.0,178.0,1.0,0.0,2.0,11.0,9.0,7.7,81.0,117.9,30.0,222.0,7.4,2.0,3.0,3.0,1.0,1.0,2.0,94.0,5.0,10.0,0.0,0.0,25:27,3,Sun,September 24,boxscore,W,NaN,NaN,Dallas Cowboys,28.0,16.0,17.0,21.0,178.0,1.0,0.0,2.0,11.0,9.0,7.7,81.0,117.9,30.0,222.0,7.4,2.0,3.0,3.0,1.0,1.0,2.0,94.0,5.0,10.0,0.0,0.0,25:27
3,2023,4,CRD,Sun,October 1,boxscore,L,NaN,@,San Francisco 49ers,16.0,35.0,28.0,41.0,257.0,2.0,0.0,1.0,8.0,6.5,6.1,68.3,101.4,25.0,105.0,4.2,0.0,1.0,1.0,1.0,1.0,3.0,117.0,8.0,15.0,2.0,3.0,30:46,4,Sun,October 1,boxscore,L,NaN,@,San Francisco 49ers,16.0,35.0,28.0,41.0,257.0,2.0,0.0,1.0,8.0,6.5,6.1,68.3,101.4,25.0,105.0,4.2,0.0,1.0,1.0,1.0,1.0,3.0,117.0,8.0,15.0,2.0,3.0,30:46
4,2023,5,CRD,Sun,October 8,boxscore,L,NaN,NaN,Cincinnati Bengals,20.0,34.0,15.0,32.0,152.0,2.0,2.0,3.0,14.0,5.2,4.3,46.9,55.7,22.0,142.0,6.5,1.0,0.0,0.0,2.0,3.0,4.0,219.0,4.0,11.0,0.0,3.0,21:50,5,Sun,October 8,boxscore,L,NaN,NaN,Cincinnati Bengals,20.0,34.0,15.0,32.0,152.0,2.0,2.0,3.0,14.0,5.2,4.3,46.9,55.7,22.0,142.0,6.5,1.0,0.0,0.0,2.0,3.0,4.0,219.0,4.0,11.0,0.0,3.0,21:50

In [143]:
#print the column names in nfl_history
nfl_history.columns

Index(['Season', 'Week', 'Team', 'Day', 'Date', 'Unnamed: 3', 'Unnamed: 4',
       'OT', 'Unnamed: 6', 'Opp', 'Tm', 'Opp.1', 'Cmp', 'Att', 'Yds', 'TD',
       'Int', 'Sk', 'Yds.1', 'Y/A', 'NY/A', 'Cmp%', 'Rate', 'Att.1', 'Yds.2',
       'Y/A.1', 'TD.1', 'FGM', 'FGA', 'XPM', 'XPA', 'Pnt', 'Yds.3', '3DConv',
       '3DAtt', '4DConv', '4DAtt', 'ToP', 'Week.1', 'Day.1', 'Date.1',
       'Unnamed: 3.1', 'Unnamed: 4.1', 'OT.1', 'Unnamed: 6.1', 'Opp.2', 'Tm.1',
       'Opp.1.1', 'Cmp.1', 'Att.2', 'Yds.4', 'TD.2', 'Int.1', 'Sk.1',
       'Yds.1.1', 'Y/A.2', 'NY/A.1', 'Cmp%.1', 'Rate.1', 'Att.1.1', 'Yds.2.1',
       'Y/A.1.1', 'TD.1.1', 'FGM.1', 'FGA.1', 'XPM.1', 'XPA.1', 'Pnt.1',
       'Yds.3.1', '3DConv.1', '3DAtt.1', '4DConv.1', '4DAtt.1', 'ToP.1'],
      dtype='object')

### Need to assign names to unnamed columns
    - Drop Unnamed 3
    - Unnamed4 and Unnamed: 4.1= W/L
    - OT is true or false
    - Unnamed 6 and Unnamed: 6.1 is home or away
    - Drop Week.1, Day.1, Date.1, Unnamed: 3.1

In [144]:
#rename the columns in nfl_history
nfl_history.rename(columns={'Unnamed: 4': 'WL', 'Unnamed: 4.1': 'WL.1', 'Unnamed: 6' : 'HoA', 'Unnamed: 6.1' : 'HoA.1', 'Tm': 'TeamPts', 'Tm.1': 'TeamPts.1','Opp.1' : 'OppPts', 'Opp.2' : 'OppPts2'}, inplace=True)
nfl_history.drop(columns=['Unnamed: 3', 'Unnamed: 3.1'], inplace=True)
nfl_current.rename(columns={'Unnamed: 4': 'WL', 'Unnamed: 4.1': 'WL.1', 'Unnamed: 6' : 'HoA', 'Unnamed: 6.1' : 'HoA.1', 'Tm': 'TeamPts', 'Tm.1': 'TeamPts.1','Opp.1' : 'OppPts', 'Opp.2' : 'OppPts2'}, inplace=True)
nfl_current.drop(columns=['Unnamed: 3', 'Unnamed: 3.1'], inplace=True)

In [145]:
if nfl_current.columns.all() == nfl_history.columns.all():
    print('Columns are the same')
print(nfl_current.columns)

Columns are the same
Index(['Season', 'Week', 'Team', 'Day', 'Date', 'WL', 'OT', 'HoA', 'Opp',
       'TeamPts', 'OppPts', 'Cmp', 'Att', 'Yds', 'TD', 'Int', 'Sk', 'Yds.1',
       'Y/A', 'NY/A', 'Cmp%', 'Rate', 'Att.1', 'Yds.2', 'Y/A.1', 'TD.1', 'FGM',
       'FGA', 'XPM', 'XPA', 'Pnt', 'Yds.3', '3DConv', '3DAtt', '4DConv',
       '4DAtt', 'ToP', 'Week.1', 'Day.1', 'Date.1', 'WL.1', 'OT.1', 'HoA.1',
       'OppPts2', 'TeamPts.1', 'Opp.1.1', 'Cmp.1', 'Att.2', 'Yds.4', 'TD.2',
       'Int.1', 'Sk.1', 'Yds.1.1', 'Y/A.2', 'NY/A.1', 'Cmp%.1', 'Rate.1',
       'Att.1.1', 'Yds.2.1', 'Y/A.1.1', 'TD.1.1', 'FGM.1', 'FGA.1', 'XPM.1',
       'XPA.1', 'Pnt.1', 'Yds.3.1', '3DConv.1', '3DAtt.1', '4DConv.1',
       '4DAtt.1', 'ToP.1'],
      dtype='object')

### Duplicate these dataframes

In [146]:
nflpast = nfl_history.copy()
nflnow = nfl_current.copy()

In [147]:
#Sort the dataframes by team and date
nflpast.sort_values(by=['Team','Date'], inplace=True)
nflnow.sort_values(by=['Team','Date'], inplace=True)

In [148]:
nflpast_whole = nflpast.copy()
nflnow_whole = nflnow.copy()

In [149]:
#Create a new dataframe of the average of every 15 games for all columns containing numbers
nflpastavg = nflpast.groupby('Team').rolling(15, min_periods=1).mean().reset_index()
nflpastavg.drop(columns=['level_1'], inplace=True)
nflpastavg.dropna(inplace=True)
nflpastavg.reset_index(inplace=True)
nflpastavg.drop(columns=['index'], inplace=True)

C:\Users\Joey\AppData\Local\Temp\ipykernel_21120\1993965566.py:2: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['Date', 'Date.1', 'Day', 'Day.1', 'HoA', 'HoA.1', 'OT', 'OT.1', 'Opp',
       'OppPts2', 'ToP', 'ToP.1', 'WL', 'WL.1'],
      dtype='object')
  nflpastavg = nflpast.groupby('Team').rolling(15, min_periods=1).mean().reset_index()

In [150]:
nflpastavg.head()

,Team,Season,Week,TeamPts,OppPts,Cmp,Att,Yds,TD,Int,Sk,Yds.1,Y/A,NY/A,Cmp%,Rate,Att.1,Yds.2,Y/A.1,TD.1,FGM,FGA,XPM,XPA,Pnt,Yds.3,3DConv,3DAtt,4DConv,4DAtt,Week.1,TeamPts.1,Opp.1.1,Cmp.1,Att.2,Yds.4,TD.2,Int.1,Sk.1,Yds.1.1,Y/A.2,NY/A.1,Cmp%.1,Rate.1,Att.1.1,Yds.2.1,Y/A.1.1,TD.1.1,FGM.1,FGA.1,XPM.1,XPA.1,Pnt.1,Yds.3.1,3DConv.1,3DAtt.1,4DConv.1,4DAtt.1
0,ATL,2013.000000,13.000000,34.000000,31.000000,28.000000,47.000000,272.000000,1.000000,0.00,6.000000,39.000000,6.600000,5.100,59.600000,82.900000,30.000000,151.0,5.000000,3.000000,2.0,2.000000,4.000000,4.000000,7.0,278.000000,10.000000,18.00,0.0,0.0,13.000000,34.000000,31.000000,28.000000,47.000000,272.000000,1.000000,0.00,6.000000,39.000000,6.600000,5.100,59.600000,82.900000,30.000000,151.0,5.000000,3.000000,2.0,2.000000,4.000000,4.000000,7.0,278.000000,10.000000,18.00,0.0,0.0
1,ATL,2012.000000,13.500000,32.500000,27.000000,25.000000,42.500000,290.000000,2.500000,0.00,4.500000,25.500000,7.500000,6.300,58.750000,101.050000,29.000000,118.5,4.050000,1.500000,1.5,2.000000,4.000000,4.000000,6.5,282.500000,9.000000,17.50,0.0,0.0,13.500000,32.500000,27.000000,25.000000,42.500000,290.000000,2.500000,0.00,4.500000,25.500000,7.500000,6.300,58.750000,101.050000,29.000000,118.5,4.050000,1.500000,1.5,2.000000,4.000000,4.000000,6.5,282.500000,9.000000,17.50,0.0,0.0
2,ATL,2013.333333,13.666667,35.666667,22.666667,22.666667,38.333333,266.666667,2.666667,0.00,3.666667,22.666667,7.633333,6.500,59.166667,106.033333,27.666667,101.0,3.566667,1.333333,1.0,1.333333,4.666667,4.666667,7.0,326.666667,7.333333,16.00,0.0,0.0,13.666667,35.666667,22.666667,22.666667,38.333333,266.666667,2.666667,0.00,3.666667,22.666667,7.633333,6.500,59.166667,106.033333,27.666667,101.0,3.566667,1.333333,1.0,1.333333,4.666667,4.666667,7.0,326.666667,7.333333,16.00,0.0,0.0
3,ATL,2012.500000,13.750000,34.500000,19.500000,22.000000,37.250000,250.000000,2.250000,0.25,3.500000,23.750000,7.400000,6.225,59.075000,97.825000,29.750000,107.5,3.550000,1.750000,1.0,1.250000,4.500000,4.500000,7.0,315.750000,7.750000,16.25,0.0,0.0,13.750000,34.500000,19.500000,22.000000,37.250000,250.000000,2.250000,0.25,3.500000,23.750000,7.400000,6.225,59.075000,97.825000,29.750000,107.5,3.550000,1.750000,1.0,1.250000,4.500000,4.500000,7.0,315.750000,7.750000,16.25,0.0,0.0
4,ATL,2014.200000,13.800000,33.400000,19.800000,21.400000,35.400000,238.000000,2.000000,0.20,2.800000,19.000000,7.280000,6.340,60.840000,98.020000,31.000000,111.6,3.560000,1.600000,1.4,1.600000,4.000000,4.000000,6.0,274.600000,7.600000,15.80,0.4,0.4,13.800000,33.400000,19.800000,21.400000,35.400000,238.000000,2.000000,0.20,2.800000,19.000000,7.280000,6.340,60.840000,98.020000,31.000000,111.6,3.560000,1.600000,1.4,1.600000,4.000000,4.000000,6.0,274.600000,7.600000,15.80,0.4,0.4

In [151]:
nflpastavg.drop(columns=['Season','Week'], inplace=True)

In [152]:
nflpastavg.head()

,Team,TeamPts,OppPts,Cmp,Att,Yds,TD,Int,Sk,Yds.1,Y/A,NY/A,Cmp%,Rate,Att.1,Yds.2,Y/A.1,TD.1,FGM,FGA,XPM,XPA,Pnt,Yds.3,3DConv,3DAtt,4DConv,4DAtt,Week.1,TeamPts.1,Opp.1.1,Cmp.1,Att.2,Yds.4,TD.2,Int.1,Sk.1,Yds.1.1,Y/A.2,NY/A.1,Cmp%.1,Rate.1,Att.1.1,Yds.2.1,Y/A.1.1,TD.1.1,FGM.1,FGA.1,XPM.1,XPA.1,Pnt.1,Yds.3.1,3DConv.1,3DAtt.1,4DConv.1,4DAtt.1
0,ATL,34.000000,31.000000,28.000000,47.000000,272.000000,1.000000,0.00,6.000000,39.000000,6.600000,5.100,59.600000,82.900000,30.000000,151.0,5.000000,3.000000,2.0,2.000000,4.000000,4.000000,7.0,278.000000,10.000000,18.00,0.0,0.0,13.000000,34.000000,31.000000,28.000000,47.000000,272.000000,1.000000,0.00,6.000000,39.000000,6.600000,5.100,59.600000,82.900000,30.000000,151.0,5.000000,3.000000,2.0,2.000000,4.000000,4.000000,7.0,278.000000,10.000000,18.00,0.0,0.0
1,ATL,32.500000,27.000000,25.000000,42.500000,290.000000,2.500000,0.00,4.500000,25.500000,7.500000,6.300,58.750000,101.050000,29.000000,118.5,4.050000,1.500000,1.5,2.000000,4.000000,4.000000,6.5,282.500000,9.000000,17.50,0.0,0.0,13.500000,32.500000,27.000000,25.000000,42.500000,290.000000,2.500000,0.00,4.500000,25.500000,7.500000,6.300,58.750000,101.050000,29.000000,118.5,4.050000,1.500000,1.5,2.000000,4.000000,4.000000,6.5,282.500000,9.000000,17.50,0.0,0.0
2,ATL,35.666667,22.666667,22.666667,38.333333,266.666667,2.666667,0.00,3.666667,22.666667,7.633333,6.500,59.166667,106.033333,27.666667,101.0,3.566667,1.333333,1.0,1.333333,4.666667,4.666667,7.0,326.666667,7.333333,16.00,0.0,0.0,13.666667,35.666667,22.666667,22.666667,38.333333,266.666667,2.666667,0.00,3.666667,22.666667,7.633333,6.500,59.166667,106.033333,27.666667,101.0,3.566667,1.333333,1.0,1.333333,4.666667,4.666667,7.0,326.666667,7.333333,16.00,0.0,0.0
3,ATL,34.500000,19.500000,22.000000,37.250000,250.000000,2.250000,0.25,3.500000,23.750000,7.400000,6.225,59.075000,97.825000,29.750000,107.5,3.550000,1.750000,1.0,1.250000,4.500000,4.500000,7.0,315.750000,7.750000,16.25,0.0,0.0,13.750000,34.500000,19.500000,22.000000,37.250000,250.000000,2.250000,0.25,3.500000,23.750000,7.400000,6.225,59.075000,97.825000,29.750000,107.5,3.550000,1.750000,1.0,1.250000,4.500000,4.500000,7.0,315.750000,7.750000,16.25,0.0,0.0
4,ATL,33.400000,19.800000,21.400000,35.400000,238.000000,2.000000,0.20,2.800000,19.000000,7.280000,6.340,60.840000,98.020000,31.000000,111.6,3.560000,1.600000,1.4,1.600000,4.000000,4.000000,6.0,274.600000,7.600000,15.80,0.4,0.4,13.800000,33.400000,19.800000,21.400000,35.400000,238.000000,2.000000,0.20,2.800000,19.000000,7.280000,6.340,60.840000,98.020000,31.000000,111.6,3.560000,1.600000,1.4,1.600000,4.000000,4.000000,6.0,274.600000,7.600000,15.80,0.4,0.4

In [153]:
nflpast = nflpast[nflpast.columns.intersection(nflpastavg.columns)]
if nflpast.columns.all() == nflpastavg.columns.all():
    print('Columns are the same')

Columns are the same

In [154]:
print(nflpast['Team'].dtype)

object

In [155]:
nflpast['Team'] = nflpast['Team'].astype(str)
nflpast['Team'] = nflpast['Team'].str.lower()
nflpastavg['Team'] = nflpastavg['Team'].str.lower()

# Convert the 'team_abb' list to lowercase
team_abb_lower = [team.lower() for team in team_abb]

# Define a mapping from lowercase team abbreviations to indices
team_mapping = {team_abb_lower: idx for idx, team_abb_lower in enumerate(team_abb_lower)}

# Update the 'Team' column in 'nflpast' using the mapping
nflpast['Team'] = nflpast['Team'].map(team_mapping)

# Update the 'Team' column in 'nflpastavg' using the mapping
nflpastavg['Team'] = nflpastavg['Team'].map(team_mapping)

In [156]:
nflpast.head()

,Team,TeamPts,OppPts,Cmp,Att,Yds,TD,Int,Sk,Yds.1,Y/A,NY/A,Cmp%,Rate,Att.1,Yds.2,Y/A.1,TD.1,FGM,FGA,XPM,XPA,Pnt,Yds.3,3DConv,3DAtt,4DConv,4DAtt,Week.1,TeamPts.1,Opp.1.1,Cmp.1,Att.2,Yds.4,TD.2,Int.1,Sk.1,Yds.1.1,Y/A.2,NY/A.1,Cmp%.1,Rate.1,Att.1.1,Yds.2.1,Y/A.1.1,TD.1.1,FGM.1,FGA.1,XPM.1,XPA.1,Pnt.1,Yds.3.1,3DConv.1,3DAtt.1,4DConv.1,4DAtt.1
1467,1,34,31,28,47,272,1,0,6,39,6.6,5.1,59.6,82.9,30,151,5.0,3,2,2,4,4,7,278,10,18,0,0,13,34,31,28,47,272,1,0,6,39,6.6,5.1,59.6,82.9,30,151,5.0,3,2,2,4,4,7,278,10,18,0,0
508,1,31,23,22,38,308,4,0,3,12,8.4,7.5,57.9,119.2,28,86,3.1,0,1,2,4,4,6,287,8,17,0,0,14,31,23,22,38,308,4,0,3,12,8.4,7.5,57.9,119.2,28,86,3.1,0,1,2,4,4,6,287,8,17,0,0
2908,1,42,14,18,30,220,3,0,2,17,7.9,6.9,60.0,116.0,25,66,2.6,1,0,0,6,6,8,415,4,13,0,0,14,42,14,18,30,220,3,0,2,17,7.9,6.9,60.0,116.0,25,66,2.6,1,0,0,6,6,8,415,4,13,0,0
28,1,31,10,20,34,200,1,1,3,27,6.7,5.4,58.8,73.2,36,127,3.5,3,1,1,4,4,7,283,9,17,0,0,14,31,10,20,34,200,1,1,3,27,6.7,5.4,58.8,73.2,36,127,3.5,3,1,1,4,4,7,283,9,17,0,0
5309,1,29,21,19,28,190,1,0,0,0,6.8,6.8,67.9,98.8,36,128,3.6,1,3,3,2,2,2,110,7,14,2,2,14,29,21,19,28,190,1,0,0,0,6.8,6.8,67.9,98.8,36,128,3.6,1,3,3,2,2,2,110,7,14,2,2

### Attempting to use a MLP

In [157]:
import torch
import torch.nn as nn
import numpy as np
import scipy.io 
import random
import math
import matplotlib.pyplot as plt
import torch.nn.functional as F
import os
import seaborn as sn
import pandas as pd
os.environ['KMP_DUPLICATE_LIB_OK']='True' 

from torch.utils.data import TensorDataset
from torch.utils.data import DataLoader
from sklearn.metrics import accuracy_score

In [158]:

class Net(nn.Module):
    def __init__(self):
        super().__init__()
        self.layer1 = nn.Linear(54, 512)  
        self.layer2 = nn.Linear(512, 256)
        self.layer3 = nn.Linear(256, 128) 
        self.layer4 = nn.Linear(128, 2)  

    def forward(self, x):
        return self.layer4(F.relu(self.layer3(F.relu(self.layer2(F.relu(self.layer1(x)))))))

net = Net()
print(net)

Net(
  (layer1): Linear(in_features=54, out_features=512, bias=True)
  (layer2): Linear(in_features=512, out_features=256, bias=True)
  (layer3): Linear(in_features=256, out_features=128, bias=True)
  (layer4): Linear(in_features=128, out_features=2, bias=True)
)

In [174]:
from sklearn.model_selection import train_test_split
X = nflpast.drop(['TeamPts', 'OppPts'], axis=1)  # Features
y = nflpast[['TeamPts', 'OppPts']]  # Labels

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [177]:
#Normalize the data except for column 'Team'
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_numpy = X_train.values
X_test_numpy = X_test.values
X_train_numpy[:,1:] = scaler.fit_transform(X_train_numpy[:,1:])
X_test_numpy[:,1:] = scaler.transform(X_test_numpy[:,1:])
X_train = torch.tensor(X_train_numpy, dtype=torch.float32)
X_test = torch.tensor(X_test_numpy, dtype=torch.float32)
y_train = y_train.values
y_test = y_test.values

In [178]:

X_train  = torch.tensor(np.array(X_train), dtype=torch.float32)
X_test = torch.tensor(np.array(X_test), dtype=torch.float32)
y_train = torch.tensor(np.array(y_train), dtype=torch.float32)
y_test = torch.tensor(np.array(y_test), dtype=torch.float32)

In [182]:
#define a loss function and optimizer
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(net.parameters(), lr=0.08)
num_epochs = 100  # Define the number of training epochs
for epoch in range(num_epochs):
    optimizer.zero_grad()  # Zero the gradients
    outputs = net(X_train)  # Forward pass
    loss = criterion(outputs, y_train)  # Calculate the loss
    loss.backward()  # Backpropagation
    optimizer.step()  # Update the model parameters
    # Print the loss at each epoch
    print(f'Epoch [{epoch+1}/{num_epochs}], Loss: {loss.item()}')

Epoch [1/100], Loss: 28.940114974975586
Epoch [2/100], Loss: 257.84564208984375
Epoch [3/100], Loss: 34.501461029052734
Epoch [4/100], Loss: 31.79008674621582
Epoch [5/100], Loss: 39.92734146118164
Epoch [6/100], Loss: 121.38861083984375
Epoch [7/100], Loss: 32.19626998901367
Epoch [8/100], Loss: 32.568092346191406
Epoch [9/100], Loss: 47.4814567565918
Epoch [10/100], Loss: 69.25330352783203
Epoch [11/100], Loss: 61.91216278076172
Epoch [12/100], Loss: 36.54396057128906
Epoch [13/100], Loss: 32.955589294433594
Epoch [14/100], Loss: 36.822025299072266
Epoch [15/100], Loss: 31.67652702331543
Epoch [16/100], Loss: 31.616418838500977
Epoch [17/100], Loss: 31.534950256347656
Epoch [18/100], Loss: 30.842849731445312
Epoch [19/100], Loss: 30.867149353027344
Epoch [20/100], Loss: 32.31357955932617
Epoch [21/100], Loss: 31.214004516601562
Epoch [22/100], Loss: 31.851314544677734
Epoch [23/100], Loss: 31.97215461730957
Epoch [24/100], Loss: 37.190860748291016
Epoch [25/100], Loss: 38.5955924987793
Epoch [26/100], Loss: 30.77972412109375
Epoch [27/100], Loss: 31.52027702331543
Epoch [28/100], Loss: 33.54738235473633
Epoch [29/100], Loss: 30.67876625061035
Epoch [30/100], Loss: 30.54779624938965
Epoch [31/100], Loss: 30.811973571777344
Epoch [32/100], Loss: 30.671175003051758
Epoch [33/100], Loss: 40.14588928222656
Epoch [34/100], Loss: 32.05015563964844
Epoch [35/100], Loss: 30.890504837036133
Epoch [36/100], Loss: 30.483848571777344
Epoch [37/100], Loss: 34.36071014404297
Epoch [38/100], Loss: 30.4012508392334
Epoch [39/100], Loss: 30.071908950805664
Epoch [40/100], Loss: 30.952163696289062
Epoch [41/100], Loss: 46.523536682128906
Epoch [42/100], Loss: 59.12749481201172
Epoch [43/100], Loss: 35.79412841796875
Epoch [44/100], Loss: 42.675025939941406
Epoch [45/100], Loss: 60.704322814941406
Epoch [46/100], Loss: 90.52786254882812
Epoch [47/100], Loss: 75.17324829101562
Epoch [48/100], Loss: 33.66046142578125
Epoch [49/100], Loss: 31.836090087890625
Epoch [50/100], Loss: 51.305171966552734
Epoch [51/100], Loss: 30.99590301513672
Epoch [52/100], Loss: 62.44521713256836
Epoch [53/100], Loss: 58.69673538208008
Epoch [54/100], Loss: 31.20875358581543
Epoch [55/100], Loss: 37.48966598510742
Epoch [56/100], Loss: 36.91923141479492
Epoch [57/100], Loss: 33.84516525268555
Epoch [58/100], Loss: 31.650009155273438
Epoch [59/100], Loss: 31.178131103515625
Epoch [60/100], Loss: 31.04069709777832
Epoch [61/100], Loss: 30.486967086791992
Epoch [62/100], Loss: 30.372608184814453
Epoch [63/100], Loss: 30.549253463745117
Epoch [64/100], Loss: 30.310359954833984
Epoch [65/100], Loss: 30.139799118041992
Epoch [66/100], Loss: 30.107587814331055
Epoch [67/100], Loss: 29.991281509399414
Epoch [68/100], Loss: 29.89252281188965
Epoch [69/100], Loss: 102.86109161376953
Epoch [70/100], Loss: 40.82169723510742
Epoch [71/100], Loss: 33.16434860229492
Epoch [72/100], Loss: 47.62973403930664
Epoch [73/100], Loss: 37.222923278808594
Epoch [74/100], Loss: 31.134292602539062
Epoch [75/100], Loss: 33.00544738769531
Epoch [76/100], Loss: 34.375362396240234
Epoch [77/100], Loss: 31.9971866607666
Epoch [78/100], Loss: 31.196128845214844
Epoch [79/100], Loss: 31.39994239807129
Epoch [80/100], Loss: 30.0209903717041
Epoch [81/100], Loss: 30.14143180847168
Epoch [82/100], Loss: 30.078319549560547
Epoch [83/100], Loss: 30.11915397644043
Epoch [84/100], Loss: 30.042287826538086
Epoch [85/100], Loss: 30.075414657592773
Epoch [86/100], Loss: 30.043785095214844
Epoch [87/100], Loss: 31.559734344482422
Epoch [88/100], Loss: 30.15980339050293
Epoch [89/100], Loss: 30.012489318847656
Epoch [90/100], Loss: 30.097003936767578
Epoch [91/100], Loss: 30.005800247192383
Epoch [92/100], Loss: 29.988075256347656
Epoch [93/100], Loss: 29.97703742980957
Epoch [94/100], Loss: 29.935632705688477
Epoch [95/100], Loss: 29.90778160095215
Epoch [96/100], Loss: 29.861955642700195
Epoch [97/100], Loss: 29.87358856201172
Epoch [98/100], Loss: 29.83771514892578
Epoch [99/100], Loss: 29.82370948791504
Epoch [100/100], Loss: 29.809667587280273

In [183]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
net.eval()
with torch.no_grad():
    train_predictions = net(X_train)
    test_predictions = net(X_test)
print("Training R-squared:", r2_score(y_train, train_predictions))
print("Validation R-squared:", r2_score(y_test, test_predictions))
print("Training MSE:", mean_squared_error(y_train, train_predictions))
print("Validation MSE:", mean_squared_error(y_test, test_predictions))
print("Training MAE:", mean_absolute_error(y_train, train_predictions))
print("Validation MAE:", mean_absolute_error(y_test, test_predictions))

Training R-squared: -5.0604331895006975
Validation R-squared: -5.073494316629665
Training MSE: 623.7489
Validation MSE: 617.11017
Training MAE: 22.909866
Validation MAE: 22.791725